<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>台北一日遊</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>

  <nav class='site-navigation' role='navigation'>
    <div class="nav-body">
      <div class="menu-title">
        台北一日遊
      </div>
      <div id='menu' class="menu-content-container">
        <ul>
          <li>預定行程</li>
          <li>登入/註冊</li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="banner">
    <img src="{{url_for('static', filename='images/welcome.png')}}" alt="Tapei101">
    <div class="banner-body">
      <div class="banner-content">
        <h1>輕鬆享受台北一日悠閒</h1><br>
        <p>探索每個角落，體驗城市的深度旅遊行程</p><br>
      </div>
      <div id="banner-searchbar">
        <input id="banner-searchbar-input" rounded type="search" placeholder="輸入景點名稱查詢"></input><button
          id="banner-searchbar-button" type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </div>

  <div class="main-content">
    <div id="main-content-default">

    </div>
  </div>

  <div>
    <footer>
      <div class="footer-content"></div>
      <span>COPYRIGHT ⓒ 2022 台北一日遊</span>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
 
  <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>

</html>